{
  "openapi": "3.0.0",
  "info": {
    "title": "API documentation for 47880_on2cook_cloud",
    "version": "1.0.0",
    "description": "API documentation for 47880_on2cook_cloud"
  },
  "servers": [
    {
      "url": "https://openapi.nocodebackend.com"
    }
  ],
  "paths": {
    "/create/cook_logs": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Create a new record in cook_logs",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "device_id": {
                    "type": "string"
                  },
                  "recipe_id": {
                    "type": "integer"
                  },
                  "recipe_title": {
                    "type": "string"
                  },
                  "order_id": {
                    "type": "string"
                  },
                  "outcome": {
                    "type": "string",
                    "enum": [
                      "queued",
                      "starting",
                      "cooking",
                      "completed",
                      "aborted",
                      "failed"
                    ],
                    "description": "dropdown: choose one of [queued, starting, cooking, completed, aborted, failed]"
                  },
                  "started_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "finished_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "aborted_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "telemetry_json": {
                    "type": "string"
                  },
                  "summary": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created the record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Record created successfully"
                    },
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created record"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/read/cook_logs": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Retrieve all records from cook_logs",
        "description": "### Filtering\n\nYou can filter results by adding column-based query parameters directly to the URL.\nOperators use bracket notation:\n\n| Operator | Example | Meaning |\n|---|---|---|\n| `field=value` | `?status=active` | Equal (default) |\n| `field[ne]=value` | `?status[ne]=inactive` | Not equal |\n| `field[gt]=value` | `?price[gt]=100` | Greater than |\n| `field[gte]=value` | `?date[gte]=2024-05-01` | Greater than or equal |\n| `field[lt]=value` | `?score[lt]=500` | Less than |\n| `field[lte]=value` | `?score[lte]=800` | Less than or equal |\n| `field[in]=value` | `?type[in]=a,b,c` | In list (comma-separated) |\n| `field[like]=value` | `?name[like]=john` | Partial match |\n\n**Available columns:** `user_id`, `device_id`, `recipe_id`, `recipe_title`, `order_id`, `outcome`, `started_at`, `finished_at`, `aborted_at`, `telemetry_json`, `summary`, `created_at`\n\n**Example:**\n```\n?Instance={db_name}&status=active&price[gte]=100&price[lte]=500&sort=price&order=desc&page=1&limit=20\n```",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "query",
            "name": "queryParams",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filters, pagination & sorting as key=value pairs separated by &. Example: status=active&page=2&limit=5&sort=name&order=asc. Available columns: user_id, device_id, recipe_id, recipe_title, order_id, outcome, started_at, finished_at, aborted_at, telemetry_json, summary, created_at"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "string"
                          },
                          "device_id": {
                            "type": "string"
                          },
                          "recipe_id": {
                            "type": "integer"
                          },
                          "recipe_title": {
                            "type": "string"
                          },
                          "order_id": {
                            "type": "string"
                          },
                          "outcome": {
                            "type": "string",
                            "enum": [
                              "queued",
                              "starting",
                              "cooking",
                              "completed",
                              "aborted",
                              "failed"
                            ],
                            "description": "dropdown: choose one of [queued, starting, cooking, completed, aborted, failed]"
                          },
                          "started_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "finished_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "aborted_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "telemetry_json": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/read/cook_logs/{id}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Retrieve a record by ID from cook_logs",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the record to retrieve"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string"
                        },
                        "device_id": {
                          "type": "string"
                        },
                        "recipe_id": {
                          "type": "integer"
                        },
                        "recipe_title": {
                          "type": "string"
                        },
                        "order_id": {
                          "type": "string"
                        },
                        "outcome": {
                          "type": "string",
                          "enum": [
                            "queued",
                            "starting",
                            "cooking",
                            "completed",
                            "aborted",
                            "failed"
                          ],
                          "description": "dropdown: choose one of [queued, starting, cooking, completed, aborted, failed]"
                        },
                        "started_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "finished_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "aborted_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "telemetry_json": {
                          "type": "string"
                        },
                        "summary": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Record Not Found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/search/cook_logs": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Search for records in cook_logs",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "device_id": {
                    "type": "string"
                  },
                  "recipe_id": {
                    "type": "integer"
                  },
                  "recipe_title": {
                    "type": "string"
                  },
                  "order_id": {
                    "type": "string"
                  },
                  "outcome": {
                    "type": "string",
                    "enum": [
                      "queued",
                      "starting",
                      "cooking",
                      "completed",
                      "aborted",
                      "failed"
                    ],
                    "description": "dropdown: choose one of [queued, starting, cooking, completed, aborted, failed]"
                  },
                  "started_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "finished_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "aborted_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "telemetry_json": {
                    "type": "string"
                  },
                  "summary": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved matching records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "string"
                          },
                          "device_id": {
                            "type": "string"
                          },
                          "recipe_id": {
                            "type": "integer"
                          },
                          "recipe_title": {
                            "type": "string"
                          },
                          "order_id": {
                            "type": "string"
                          },
                          "outcome": {
                            "type": "string",
                            "enum": [
                              "queued",
                              "starting",
                              "cooking",
                              "completed",
                              "aborted",
                              "failed"
                            ],
                            "description": "dropdown: choose one of [queued, starting, cooking, completed, aborted, failed]"
                          },
                          "started_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "finished_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "aborted_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "telemetry_json": {
                            "type": "string"
                          },
                          "summary": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/update/cook_logs/{id}": {
      "put": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Update a record in cook_logs",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the record to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "device_id": {
                    "type": "string"
                  },
                  "recipe_id": {
                    "type": "integer"
                  },
                  "recipe_title": {
                    "type": "string"
                  },
                  "order_id": {
                    "type": "string"
                  },
                  "outcome": {
                    "type": "string",
                    "enum": [
                      "queued",
                      "starting",
                      "cooking",
                      "completed",
                      "aborted",
                      "failed"
                    ],
                    "description": "dropdown: choose one of [queued, starting, cooking, completed, aborted, failed]"
                  },
                  "started_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "finished_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "aborted_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "telemetry_json": {
                    "type": "string"
                  },
                  "summary": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the record"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/delete/cook_logs/{id}": {
      "delete": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Delete a record from cook_logs",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the record to delete"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the record"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Record Not Found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bulk/create/cook_logs": {
      "post": {
        "tags": [
          "Bulk Endpoints"
        ],
        "summary": "Bulk create records in cook_logs (Max 500)",
        "description": "### Bulk Create Guide\nInsert multiple records into the database with a single API call.\n\n- **Max Limit**: 500 records per request.\n- **Performance**: Highly recommended over looping single POST requests.\n\n**Response**: Returns an HTTP 207 Multi-Status with a summary and a per-record breakdown of successes and failures.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "records": {
                    "type": "array",
                    "description": "An array of objects to insert",
                    "items": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string"
                        },
                        "device_id": {
                          "type": "string"
                        },
                        "recipe_id": {
                          "type": "integer"
                        },
                        "recipe_title": {
                          "type": "string"
                        },
                        "order_id": {
                          "type": "string"
                        },
                        "outcome": {
                          "type": "string",
                          "enum": [
                            "queued",
                            "starting",
                            "cooking",
                            "completed",
                            "aborted",
                            "failed"
                          ],
                          "description": "dropdown: choose one of [queued, starting, cooking, completed, aborted, failed]"
                        },
                        "started_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "finished_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "aborted_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "telemetry_json": {
                          "type": "string"
                        },
                        "summary": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "records": [
                  {
                    "user_id": "string",
                    "device_id": "string",
                    "recipe_id": 0,
                    "recipe_title": "string",
                    "order_id": "string",
                    "outcome": "string",
                    "started_at": "2026-01-01 00:00:00",
                    "finished_at": "2026-01-01 00:00:00",
                    "aborted_at": "2026-01-01 00:00:00",
                    "telemetry_json": "string",
                    "summary": "string",
                    "created_at": "2026-01-01 00:00:00"
                  },
                  {
                    "user_id": "string",
                    "device_id": "string",
                    "recipe_id": 0,
                    "recipe_title": "string",
                    "order_id": "string",
                    "outcome": "string",
                    "started_at": "2026-01-01 00:00:00",
                    "finished_at": "2026-01-01 00:00:00",
                    "aborted_at": "2026-01-01 00:00:00",
                    "telemetry_json": "string",
                    "summary": "string",
                    "created_at": "2026-01-01 00:00:00"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "207": {
            "description": "Multi-Status response indicating success/failure per record"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bulk/update/cook_logs": {
      "put": {
        "tags": [
          "Bulk Endpoints"
        ],
        "summary": "Bulk update records in cook_logs (Max 500)",
        "description": "### Bulk Update Guide\nUpdate multiple existing records simultaneously using a single transaction.\n\n- **Requirement**: Every object in the `records` array MUST include the primary key (`id`).\n- **Max Limit**: 500 records per request.\n- **Atomic**: Wraps updates in a transaction (all-or-nothing per database rules).",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "records": {
                    "type": "array",
                    "description": "An array of objects to update. Must include the primary key.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string"
                        },
                        "device_id": {
                          "type": "string"
                        },
                        "recipe_id": {
                          "type": "integer"
                        },
                        "recipe_title": {
                          "type": "string"
                        },
                        "order_id": {
                          "type": "string"
                        },
                        "outcome": {
                          "type": "string",
                          "enum": [
                            "queued",
                            "starting",
                            "cooking",
                            "completed",
                            "aborted",
                            "failed"
                          ],
                          "description": "dropdown: choose one of [queued, starting, cooking, completed, aborted, failed]"
                        },
                        "started_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "finished_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "aborted_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "telemetry_json": {
                          "type": "string"
                        },
                        "summary": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "records": [
                  {
                    "id": 0,
                    "user_id": "string",
                    "device_id": "string",
                    "recipe_id": 0,
                    "recipe_title": "string",
                    "order_id": "string",
                    "outcome": "string",
                    "started_at": "2026-01-01 00:00:00",
                    "finished_at": "2026-01-01 00:00:00",
                    "aborted_at": "2026-01-01 00:00:00",
                    "telemetry_json": "string",
                    "summary": "string",
                    "created_at": "2026-01-01 00:00:00"
                  },
                  {
                    "id": 0,
                    "user_id": "string",
                    "device_id": "string",
                    "recipe_id": 0,
                    "recipe_title": "string",
                    "order_id": "string",
                    "outcome": "string",
                    "started_at": "2026-01-01 00:00:00",
                    "finished_at": "2026-01-01 00:00:00",
                    "aborted_at": "2026-01-01 00:00:00",
                    "telemetry_json": "string",
                    "summary": "string",
                    "created_at": "2026-01-01 00:00:00"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "207": {
            "description": "Multi-Status response indicating success/failure per record"
          },
          "400": {
            "description": "Bad Request (e.g. missing primary key)"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bulk/delete/cook_logs": {
      "delete": {
        "tags": [
          "Bulk Endpoints"
        ],
        "summary": "Bulk delete records from cook_logs (Max 500)",
        "description": "### Bulk Delete Guide\nDelete multiple records by providing the IDs of all the records you want to delete.\n\n- **Max Limit**: 500 IDs per request.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "description": "An array of primary keys to delete",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully processed bulk delete"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/create/devices": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Create a new record in devices",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "device_id": {
                    "type": "string"
                  },
                  "bluetooth_name": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "serial_photo_url": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "connected",
                      "disconnected",
                      "offline",
                      "disabled"
                    ],
                    "description": "dropdown: choose one of [connected, disconnected, offline, disabled]"
                  },
                  "firmware_version": {
                    "type": "string"
                  },
                  "inventory_recipe_names": {
                    "type": "string"
                  },
                  "allowed_recipe_ids": {
                    "type": "string"
                  },
                  "last_seen_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "last_log_sync_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created the record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Record created successfully"
                    },
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created record"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/read/devices": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Retrieve all records from devices",
        "description": "### Filtering\n\nYou can filter results by adding column-based query parameters directly to the URL.\nOperators use bracket notation:\n\n| Operator | Example | Meaning |\n|---|---|---|\n| `field=value` | `?status=active` | Equal (default) |\n| `field[ne]=value` | `?status[ne]=inactive` | Not equal |\n| `field[gt]=value` | `?price[gt]=100` | Greater than |\n| `field[gte]=value` | `?date[gte]=2024-05-01` | Greater than or equal |\n| `field[lt]=value` | `?score[lt]=500` | Less than |\n| `field[lte]=value` | `?score[lte]=800` | Less than or equal |\n| `field[in]=value` | `?type[in]=a,b,c` | In list (comma-separated) |\n| `field[like]=value` | `?name[like]=john` | Partial match |\n\n**Available columns:** `user_id`, `device_id`, `bluetooth_name`, `display_name`, `serial_photo_url`, `status`, `firmware_version`, `inventory_recipe_names`, `allowed_recipe_ids`, `last_seen_at`, `last_log_sync_at`, `notes`, `created_at`, `updated_at`\n\n**Example:**\n```\n?Instance={db_name}&status=active&price[gte]=100&price[lte]=500&sort=price&order=desc&page=1&limit=20\n```",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "query",
            "name": "queryParams",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filters, pagination & sorting as key=value pairs separated by &. Example: status=active&page=2&limit=5&sort=name&order=asc. Available columns: user_id, device_id, bluetooth_name, display_name, serial_photo_url, status, firmware_version, inventory_recipe_names, allowed_recipe_ids, last_seen_at, last_log_sync_at, notes, created_at, updated_at"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "string"
                          },
                          "device_id": {
                            "type": "string"
                          },
                          "bluetooth_name": {
                            "type": "string"
                          },
                          "display_name": {
                            "type": "string"
                          },
                          "serial_photo_url": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "connected",
                              "disconnected",
                              "offline",
                              "disabled"
                            ],
                            "description": "dropdown: choose one of [connected, disconnected, offline, disabled]"
                          },
                          "firmware_version": {
                            "type": "string"
                          },
                          "inventory_recipe_names": {
                            "type": "string"
                          },
                          "allowed_recipe_ids": {
                            "type": "string"
                          },
                          "last_seen_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "last_log_sync_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/read/devices/{id}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Retrieve a record by ID from devices",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the record to retrieve"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string"
                        },
                        "device_id": {
                          "type": "string"
                        },
                        "bluetooth_name": {
                          "type": "string"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "serial_photo_url": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "connected",
                            "disconnected",
                            "offline",
                            "disabled"
                          ],
                          "description": "dropdown: choose one of [connected, disconnected, offline, disabled]"
                        },
                        "firmware_version": {
                          "type": "string"
                        },
                        "inventory_recipe_names": {
                          "type": "string"
                        },
                        "allowed_recipe_ids": {
                          "type": "string"
                        },
                        "last_seen_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "last_log_sync_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "notes": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Record Not Found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/search/devices": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Search for records in devices",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "device_id": {
                    "type": "string"
                  },
                  "bluetooth_name": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "serial_photo_url": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "connected",
                      "disconnected",
                      "offline",
                      "disabled"
                    ],
                    "description": "dropdown: choose one of [connected, disconnected, offline, disabled]"
                  },
                  "firmware_version": {
                    "type": "string"
                  },
                  "inventory_recipe_names": {
                    "type": "string"
                  },
                  "allowed_recipe_ids": {
                    "type": "string"
                  },
                  "last_seen_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "last_log_sync_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved matching records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "string"
                          },
                          "device_id": {
                            "type": "string"
                          },
                          "bluetooth_name": {
                            "type": "string"
                          },
                          "display_name": {
                            "type": "string"
                          },
                          "serial_photo_url": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "connected",
                              "disconnected",
                              "offline",
                              "disabled"
                            ],
                            "description": "dropdown: choose one of [connected, disconnected, offline, disabled]"
                          },
                          "firmware_version": {
                            "type": "string"
                          },
                          "inventory_recipe_names": {
                            "type": "string"
                          },
                          "allowed_recipe_ids": {
                            "type": "string"
                          },
                          "last_seen_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "last_log_sync_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/update/devices/{id}": {
      "put": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Update a record in devices",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the record to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "device_id": {
                    "type": "string"
                  },
                  "bluetooth_name": {
                    "type": "string"
                  },
                  "display_name": {
                    "type": "string"
                  },
                  "serial_photo_url": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "connected",
                      "disconnected",
                      "offline",
                      "disabled"
                    ],
                    "description": "dropdown: choose one of [connected, disconnected, offline, disabled]"
                  },
                  "firmware_version": {
                    "type": "string"
                  },
                  "inventory_recipe_names": {
                    "type": "string"
                  },
                  "allowed_recipe_ids": {
                    "type": "string"
                  },
                  "last_seen_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "last_log_sync_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the record"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/delete/devices/{id}": {
      "delete": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Delete a record from devices",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the record to delete"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the record"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Record Not Found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bulk/create/devices": {
      "post": {
        "tags": [
          "Bulk Endpoints"
        ],
        "summary": "Bulk create records in devices (Max 500)",
        "description": "### Bulk Create Guide\nInsert multiple records into the database with a single API call.\n\n- **Max Limit**: 500 records per request.\n- **Performance**: Highly recommended over looping single POST requests.\n\n**Response**: Returns an HTTP 207 Multi-Status with a summary and a per-record breakdown of successes and failures.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "records": {
                    "type": "array",
                    "description": "An array of objects to insert",
                    "items": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string"
                        },
                        "device_id": {
                          "type": "string"
                        },
                        "bluetooth_name": {
                          "type": "string"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "serial_photo_url": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "connected",
                            "disconnected",
                            "offline",
                            "disabled"
                          ],
                          "description": "dropdown: choose one of [connected, disconnected, offline, disabled]"
                        },
                        "firmware_version": {
                          "type": "string"
                        },
                        "inventory_recipe_names": {
                          "type": "string"
                        },
                        "allowed_recipe_ids": {
                          "type": "string"
                        },
                        "last_seen_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "last_log_sync_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "notes": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "records": [
                  {
                    "user_id": "string",
                    "device_id": "string",
                    "bluetooth_name": "string",
                    "display_name": "string",
                    "serial_photo_url": "string",
                    "status": "string",
                    "firmware_version": "string",
                    "inventory_recipe_names": "string",
                    "allowed_recipe_ids": "string",
                    "last_seen_at": "2026-01-01 00:00:00",
                    "last_log_sync_at": "2026-01-01 00:00:00",
                    "notes": "string",
                    "created_at": "2026-01-01 00:00:00",
                    "updated_at": "2026-01-01 00:00:00"
                  },
                  {
                    "user_id": "string",
                    "device_id": "string",
                    "bluetooth_name": "string",
                    "display_name": "string",
                    "serial_photo_url": "string",
                    "status": "string",
                    "firmware_version": "string",
                    "inventory_recipe_names": "string",
                    "allowed_recipe_ids": "string",
                    "last_seen_at": "2026-01-01 00:00:00",
                    "last_log_sync_at": "2026-01-01 00:00:00",
                    "notes": "string",
                    "created_at": "2026-01-01 00:00:00",
                    "updated_at": "2026-01-01 00:00:00"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "207": {
            "description": "Multi-Status response indicating success/failure per record"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bulk/update/devices": {
      "put": {
        "tags": [
          "Bulk Endpoints"
        ],
        "summary": "Bulk update records in devices (Max 500)",
        "description": "### Bulk Update Guide\nUpdate multiple existing records simultaneously using a single transaction.\n\n- **Requirement**: Every object in the `records` array MUST include the primary key (`id`).\n- **Max Limit**: 500 records per request.\n- **Atomic**: Wraps updates in a transaction (all-or-nothing per database rules).",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "records": {
                    "type": "array",
                    "description": "An array of objects to update. Must include the primary key.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string"
                        },
                        "device_id": {
                          "type": "string"
                        },
                        "bluetooth_name": {
                          "type": "string"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "serial_photo_url": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "connected",
                            "disconnected",
                            "offline",
                            "disabled"
                          ],
                          "description": "dropdown: choose one of [connected, disconnected, offline, disabled]"
                        },
                        "firmware_version": {
                          "type": "string"
                        },
                        "inventory_recipe_names": {
                          "type": "string"
                        },
                        "allowed_recipe_ids": {
                          "type": "string"
                        },
                        "last_seen_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "last_log_sync_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "notes": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "records": [
                  {
                    "id": 0,
                    "user_id": "string",
                    "device_id": "string",
                    "bluetooth_name": "string",
                    "display_name": "string",
                    "serial_photo_url": "string",
                    "status": "string",
                    "firmware_version": "string",
                    "inventory_recipe_names": "string",
                    "allowed_recipe_ids": "string",
                    "last_seen_at": "2026-01-01 00:00:00",
                    "last_log_sync_at": "2026-01-01 00:00:00",
                    "notes": "string",
                    "created_at": "2026-01-01 00:00:00",
                    "updated_at": "2026-01-01 00:00:00"
                  },
                  {
                    "id": 0,
                    "user_id": "string",
                    "device_id": "string",
                    "bluetooth_name": "string",
                    "display_name": "string",
                    "serial_photo_url": "string",
                    "status": "string",
                    "firmware_version": "string",
                    "inventory_recipe_names": "string",
                    "allowed_recipe_ids": "string",
                    "last_seen_at": "2026-01-01 00:00:00",
                    "last_log_sync_at": "2026-01-01 00:00:00",
                    "notes": "string",
                    "created_at": "2026-01-01 00:00:00",
                    "updated_at": "2026-01-01 00:00:00"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "207": {
            "description": "Multi-Status response indicating success/failure per record"
          },
          "400": {
            "description": "Bad Request (e.g. missing primary key)"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bulk/delete/devices": {
      "delete": {
        "tags": [
          "Bulk Endpoints"
        ],
        "summary": "Bulk delete records from devices (Max 500)",
        "description": "### Bulk Delete Guide\nDelete multiple records by providing the IDs of all the records you want to delete.\n\n- **Max Limit**: 500 IDs per request.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "description": "An array of primary keys to delete",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully processed bulk delete"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/create/profiles": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Create a new record in profiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "mobile_phone": {
                    "type": "string"
                  },
                  "whatsapp_phone": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "main_admin",
                      "owner",
                      "kitchen_manager",
                      "operator",
                      "cook"
                    ],
                    "description": "dropdown: choose one of [main_admin, owner, kitchen_manager, operator, cook]"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "invited",
                      "inactive",
                      "disabled"
                    ],
                    "description": "dropdown: choose one of [active, invited, inactive, disabled]"
                  },
                  "facility_id": {
                    "type": "string"
                  },
                  "facility_name": {
                    "type": "string"
                  },
                  "franchise_id": {
                    "type": "string"
                  },
                  "franchise_name": {
                    "type": "string"
                  },
                  "reports_to_user_id": {
                    "type": "string"
                  },
                  "manager_mode": {
                    "type": "integer"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully created the record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "Record created successfully"
                    },
                    "id": {
                      "type": "integer",
                      "description": "ID of the newly created record"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/read/profiles": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Retrieve all records from profiles",
        "description": "### Filtering\n\nYou can filter results by adding column-based query parameters directly to the URL.\nOperators use bracket notation:\n\n| Operator | Example | Meaning |\n|---|---|---|\n| `field=value` | `?status=active` | Equal (default) |\n| `field[ne]=value` | `?status[ne]=inactive` | Not equal |\n| `field[gt]=value` | `?price[gt]=100` | Greater than |\n| `field[gte]=value` | `?date[gte]=2024-05-01` | Greater than or equal |\n| `field[lt]=value` | `?score[lt]=500` | Less than |\n| `field[lte]=value` | `?score[lte]=800` | Less than or equal |\n| `field[in]=value` | `?type[in]=a,b,c` | In list (comma-separated) |\n| `field[like]=value` | `?name[like]=john` | Partial match |\n\n**Available columns:** `user_id`, `email`, `full_name`, `mobile_phone`, `whatsapp_phone`, `role`, `status`, `facility_id`, `facility_name`, `franchise_id`, `franchise_name`, `reports_to_user_id`, `manager_mode`, `created_at`, `updated_at`\n\n**Example:**\n```\n?Instance={db_name}&status=active&price[gte]=100&price[lte]=500&sort=price&order=desc&page=1&limit=20\n```",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "query",
            "name": "queryParams",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filters, pagination & sorting as key=value pairs separated by &. Example: status=active&page=2&limit=5&sort=name&order=asc. Available columns: user_id, email, full_name, mobile_phone, whatsapp_phone, role, status, facility_id, facility_name, franchise_id, franchise_name, reports_to_user_id, manager_mode, created_at, updated_at"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "mobile_phone": {
                            "type": "string"
                          },
                          "whatsapp_phone": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "main_admin",
                              "owner",
                              "kitchen_manager",
                              "operator",
                              "cook"
                            ],
                            "description": "dropdown: choose one of [main_admin, owner, kitchen_manager, operator, cook]"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "invited",
                              "inactive",
                              "disabled"
                            ],
                            "description": "dropdown: choose one of [active, invited, inactive, disabled]"
                          },
                          "facility_id": {
                            "type": "string"
                          },
                          "facility_name": {
                            "type": "string"
                          },
                          "franchise_id": {
                            "type": "string"
                          },
                          "franchise_name": {
                            "type": "string"
                          },
                          "reports_to_user_id": {
                            "type": "string"
                          },
                          "manager_mode": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/read/profiles/{id}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Retrieve a record by ID from profiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the record to retrieve"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "full_name": {
                          "type": "string"
                        },
                        "mobile_phone": {
                          "type": "string"
                        },
                        "whatsapp_phone": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "main_admin",
                            "owner",
                            "kitchen_manager",
                            "operator",
                            "cook"
                          ],
                          "description": "dropdown: choose one of [main_admin, owner, kitchen_manager, operator, cook]"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "invited",
                            "inactive",
                            "disabled"
                          ],
                          "description": "dropdown: choose one of [active, invited, inactive, disabled]"
                        },
                        "facility_id": {
                          "type": "string"
                        },
                        "facility_name": {
                          "type": "string"
                        },
                        "franchise_id": {
                          "type": "string"
                        },
                        "franchise_name": {
                          "type": "string"
                        },
                        "reports_to_user_id": {
                          "type": "string"
                        },
                        "manager_mode": {
                          "type": "integer"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Record Not Found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/search/profiles": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Search for records in profiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "mobile_phone": {
                    "type": "string"
                  },
                  "whatsapp_phone": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "main_admin",
                      "owner",
                      "kitchen_manager",
                      "operator",
                      "cook"
                    ],
                    "description": "dropdown: choose one of [main_admin, owner, kitchen_manager, operator, cook]"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "invited",
                      "inactive",
                      "disabled"
                    ],
                    "description": "dropdown: choose one of [active, invited, inactive, disabled]"
                  },
                  "facility_id": {
                    "type": "string"
                  },
                  "facility_name": {
                    "type": "string"
                  },
                  "franchise_id": {
                    "type": "string"
                  },
                  "franchise_name": {
                    "type": "string"
                  },
                  "reports_to_user_id": {
                    "type": "string"
                  },
                  "manager_mode": {
                    "type": "integer"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved matching records",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "mobile_phone": {
                            "type": "string"
                          },
                          "whatsapp_phone": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "main_admin",
                              "owner",
                              "kitchen_manager",
                              "operator",
                              "cook"
                            ],
                            "description": "dropdown: choose one of [main_admin, owner, kitchen_manager, operator, cook]"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "active",
                              "invited",
                              "inactive",
                              "disabled"
                            ],
                            "description": "dropdown: choose one of [active, invited, inactive, disabled]"
                          },
                          "facility_id": {
                            "type": "string"
                          },
                          "facility_name": {
                            "type": "string"
                          },
                          "franchise_id": {
                            "type": "string"
                          },
                          "franchise_name": {
                            "type": "string"
                          },
                          "reports_to_user_id": {
                            "type": "string"
                          },
                          "manager_mode": {
                            "type": "integer"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2026-01-01 00:00:00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/update/profiles/{id}": {
      "put": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Update a record in profiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the record to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "full_name": {
                    "type": "string"
                  },
                  "mobile_phone": {
                    "type": "string"
                  },
                  "whatsapp_phone": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "main_admin",
                      "owner",
                      "kitchen_manager",
                      "operator",
                      "cook"
                    ],
                    "description": "dropdown: choose one of [main_admin, owner, kitchen_manager, operator, cook]"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "invited",
                      "inactive",
                      "disabled"
                    ],
                    "description": "dropdown: choose one of [active, invited, inactive, disabled]"
                  },
                  "facility_id": {
                    "type": "string"
                  },
                  "facility_name": {
                    "type": "string"
                  },
                  "franchise_id": {
                    "type": "string"
                  },
                  "franchise_name": {
                    "type": "string"
                  },
                  "reports_to_user_id": {
                    "type": "string"
                  },
                  "manager_mode": {
                    "type": "integer"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2026-01-01 00:00:00"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the record"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/delete/profiles/{id}": {
      "delete": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Delete a record from profiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the record to delete"
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the record"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Record Not Found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bulk/create/profiles": {
      "post": {
        "tags": [
          "Bulk Endpoints"
        ],
        "summary": "Bulk create records in profiles (Max 500)",
        "description": "### Bulk Create Guide\nInsert multiple records into the database with a single API call.\n\n- **Max Limit**: 500 records per request.\n- **Performance**: Highly recommended over looping single POST requests.\n\n**Response**: Returns an HTTP 207 Multi-Status with a summary and a per-record breakdown of successes and failures.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "records": {
                    "type": "array",
                    "description": "An array of objects to insert",
                    "items": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "full_name": {
                          "type": "string"
                        },
                        "mobile_phone": {
                          "type": "string"
                        },
                        "whatsapp_phone": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "main_admin",
                            "owner",
                            "kitchen_manager",
                            "operator",
                            "cook"
                          ],
                          "description": "dropdown: choose one of [main_admin, owner, kitchen_manager, operator, cook]"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "active",
                            "invited",
                            "inactive",
                            "disabled"
                          ],
                          "description": "dropdown: choose one of [active, invited, inactive, disabled]"
                        },
                        "facility_id": {
                          "type": "string"
                        },
                        "facility_name": {
                          "type": "string"
                        },
                        "franchise_id": {
                          "type": "string"
                        },
                        "franchise_name": {
                          "type": "string"
                        },
                        "reports_to_user_id": {
                          "type": "string"
                        },
                        "manager_mode": {
                          "type": "integer"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-01 00:00:00"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "records": [
                  {
                    "user_id": "string",
                    "email": "string",
                    "full_name": "string",
                    "mobile_phone": "string",
                    "whatsapp_phone": "string",
                    "role": "string",
                    "status": "string",
                    "facility_id": "string",
                    "facility_name": "string",
                    "franchise_id": "string",
                    "franchise_name": "string",
                    "reports_to_user_id": "string",
                    "manager_mode": 0,
                    "created_at": "2026-01-01 00:00:00",
                    "updated_at": "2026-01-01 00:00:00"
                  },
                  {
                    "user_id": "string",
                    "email": "string",
                    "full_name": "string",
                    "mobile_phone": "string",
                    "whatsapp_phone": "string",
                    "role": "string",
                    "status": "string",
                    "facility_id": "string",
                    "facility_name": "string",
                    "franchise_id": "string",
                    "franchise_name": "string",
                    "reports_to_user_id": "string",
                    "manager_mode": 0,
                    "created_at": "2026-01-01 00:00:00",
                    "updated_at": "2026-01-01 00:00:00"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "207": {
            "description": "Multi-Status response indicating success/failure per record"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/bulk/update/profiles": {
      "put": {
        "tags": [
          "Bulk Endpoints"
        ],
        "summary": "Bulk update records in profiles (Max 500)",
        "description": "### Bulk Update Guide\nUpdate multiple existing records simultaneously using a single transaction.\n\n- **Requirement**: Every object in the `records` array MUST include the primary key (`id`).\n- **Max Limit**: 500 records per request.\n- **Atomic**: Wraps updates in a transaction (all-or-nothing per database rules).",
        "parameters": [
          {
            "$ref": "#/components/parameters/Instance"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "records": {
                    "type": "array",
                    "description": "An array of objects to update. Must include the primary key.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string"
                        },
[...]
